<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726064537358-bare362rpjjvd7kdn4nl319gtp19bkin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726064537358-bare362rpjjvd7kdn4nl319gtp19bkin</string>
	<key>API_KEY</key>
	<string>AIzaSyB6nEeBD6bXqwdXz3_CcW507jVrl3wlWNE</string>
	<key>GCM_SENDER_ID</key>
	<string>726064537358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.burako.hayvanUyg</string>
	<key>PROJECT_ID</key>
	<string>pet-needs-f0da3</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-needs-f0da3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726064537358:ios:d817c22c3700575709415f</string>
</dict>
</plist>